<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GestionStagiaires.Properties.Settings.cnx" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;D:\[Fichiers &amp; Tutoriels]\Divers\Stage Perfectionnement\GestionStagiaires\BDD\Stagiaires.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>